{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 content">
        {{ .Content }}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <image src="/images/projects/city-of-cape-town-electricity-head-office.jpg"></image>
          <p style="text-align: center;">City of Cape Town Electricity Head Office – Green Star Project</p>
        </div>
      </div>
      <div class="col-3">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <image src="/images/projects/fair-valley.jpg"></image>
          <p style="text-align: center;">Regional Bulk Water Infrastructure</p>
        </div>
      </div>
      <div class="col-3">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <image src="/images/projects/monitoring-solutions.jpg"></image>
          <p style="text-align: center;">Portside Development Project Environmental Control Officer</p>
        </div>
      </div>
      <div class="col-3">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <image src="/images/projects/waste-management.jpg"></image>
          <p style="text-align: center;">Waste Management & Air Emissions Licensing</p>
        </div>
      </div>
    </div>

    <br/>

    <div class="row justify-content-center">
        <div class="col-3">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <image src="/images/projects/ground-penetraing-radar-technology.jpg"></image>
            <p style="text-align: center;">Ground Penetrating Radar</p>
          </div>
        </div>
        <div class="col-3">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <image src="/images/projects/monitoring-solutions-real.jpg"></image>
            <p style="text-align: center;">Monitoring solutions</p>
          </div>
        </div>
        <div class="col-3">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <image src="/images/projects/site-assessment.jpg"></image>
            <p style="text-align: center;">Site Assessment</p>
          </div>
        </div>
        <div class="col-3">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <image src="/images/projects/remediation.jpg"></image>
            <p style="text-align: center;">Remediation of Contaminated Land</p>
          </div>
        </div>
    </div>
  </div>
</section>


{{ end }}