{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 content">
        {{ .Content }}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/airports-company.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/drakenstein.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/fair-valley.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/sasol.jpg"></image>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/total.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/urs.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/cape-town.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/protea.jpg"></image>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/shell.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/knight-piesold.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/retail-africa.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/chevron.jpg"></image>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/baker-street.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/bp.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/sa-national-parks.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/engen.jpg"></image>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/dept-public-works.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/old-mtutal.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/wbho.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/eris-group.jpg"></image>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/city-of-cape-town-logo.png"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/centre-for-environmental-rights-logo.png"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/sanbi-logo.png"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/Environmental-Protection-Agency-logo.png"></image>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/environmental-affairs-and-development-planning-logo.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/department-of-Environment-forestry-and-fisheries-logo.jpg"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/bosch-holdings-logo.png"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/technoburn-logo.png"></image>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/kaapagri-logo.png"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/bigen-logo.png"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/boleng-logo.png"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/rheinmetall-denel-munition-logo.png"></image>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/green-create-logo.png"></image>
      </div>
      <div class="col-3">
          <image style="width: 220px;" src="/images/clients/delta-logo.png"></image>
      </div>
      <div class="col-6">
      </div>
    </div>
    
  </div>
</section>


{{ end }}